:root {
    --color-primary: #0073ff;
    --color-black: #141d28;
    --color-white: #e9e9e9;
    --color-black-1: #212b38;
}
 .{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;

}
section {
    display: flex;
    justify-content: center;
    align-items:upper center;
    height: 100vh;
    width: 100vw;
    background: url('https://plus.unsplash.com/premium_photo-1669863547100-2e3a01b78333?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29wdXRlciUyMHBpY3R1cmVzJTIwd2hpdGUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHwwfHx8fDE2OTY1NjQ0MjA&ixlib=rb-4.0.3&q=80');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
}
.menu_bar {
    background-color: var(--color-white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}
.logo {
    color: var(--color-black);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;

}
.logo span {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 30px;
    margin-left: 5px;
    font-family: 'Arial', sans-serif;

}
.menu_bar ul {
    margin: 0;
    list-style: none;
    display: flex;
}
.menu_bar ul li {
    padding: 10px 30px;
    position: relative;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-items: center;


}
.menu_bar ul li a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    height: 100%;
    

}
.menu_bar ul button {
    background-color: green;
    border: none;
    color: var(--color-white);
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
}


